@model PersonalSiteV1.Models.ContactViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div id="main">



    <!-- Work -->
    <article id="work">
        <h2 class="major">Work</h2>
        <span class="image main"><img src="~/wwwroot/images/pic02.jpg" alt="" /></span>
        <p>Adipiscing magna sed dolor elit. Praesent eleifend dignissim arcu, at eleifend sapien imperdiet ac. Aliquam erat volutpat. Praesent urna nisi, fringila lorem et vehicula lacinia quam. Integer sollicitudin mauris nec lorem luctus ultrices.</p>
        <p>Nullam et orci eu lorem consequat tincidunt vivamus et sagittis libero. Mauris aliquet magna magna sed nunc rhoncus pharetra. Pellentesque condimentum sem. In efficitur ligula tate urna. Maecenas laoreet massa vel lacinia pellentesque lorem ipsum dolor. Nullam et orci eu lorem consequat tincidunt. Vivamus et sagittis libero. Mauris aliquet magna magna sed nunc rhoncus amet feugiat tempus.</p>
    </article>

    <!-- About -->
    <article id="about">
        <h2 class="major">About</h2>
        <span class="image main">
            <img src="~/images/PicsArt_02-20-09.20.03[102].png" />
        </span>
        <p> I am a Full Stack Web Developer. For the past four years I have been working in retail management. During my work experiences I learned how to maintain a good client relationship and understanding their needs. I also learned leadership skills that involved planning the end goals on where my company needed to be and the appropriate time management of those goals.  I plan to use my skills to be that bridge between a developer and a client when working on a solid client relationship and meeting goals in a timely manner. I transitioned into IT because I found I was not being challenged enough during my experiences and wanted more opportunities to grow.  I have always had an interest in technology, and I love that there are so many directions and opportunities for growth in the field.   That’s a little bit about me, I would love to connect with you on LinkedIn!</p>
    </article>

    <!-- Contact -->
    <article id="contact">
        <h2 class="major">Contact</h2>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div id="ContactMe" class="form-horizontal" >

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-sm-1" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-sm-1" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Subject, htmlAttributes: new { @class = "control-label col-sm-1" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.Subject, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Message, htmlAttributes: new { @class = "control-label col-sm-1" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.Message, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
                    </div>
                </div>


            </div>
            <div class="form-horizontal" id="button">
                <div class="form-group">
                    <div class="col-md-offset-5 col-md-10">
                        <input style="color:#e46542; font-weight:bolder" type="submit" value="Send" class="btn-lg" />
                    </div>
                </div>
            </div>
        }

    </article>



</div>
